nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(52, 243, 31);
  transition: all linear 0.225s;
  box-shadow: 0 0 0 transparent;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
button:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 0 #000;
}
input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
}